body{
    background-image: url("./assets/sweetsbackground.jpg");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logoDiv{
    display: flex;
    justify-content: center;
}
.overallContainer{
    display: flex;
}
.locationText{
    color: orange;
}
.locationDiv{
    background-color: white;
    width: 500px;
    height: 200px;
}
h5{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imgLogo{
    width: 200px;
    height: 150px;
}
.mainCardContainer{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
.headerContainer{   
    text-align: center;
    margin-top: -25px;
}
.sakuraBranch{
    margin-top: -3px;
}
.sakuraBranchImage{
    width: 500px;
    height: 250px;
}
.sakuraBranchFlipImage{
    width: 500px;
    height: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: -20%;
}
.sakuraFlowers{
    width: 70px;
    height: 70px;
}
.headingText{
    font-size: 40px;
    font-weight: bold;
    color: orange;
}
.subHeadingText{
    font-size: 25px;
    color: #F875AA;
}
hr{
    color: lightgray;
    margin-right: 30px;
    margin-left: 30px;
}
.sectionHeader{
    padding-left: 25px;
}
.sectionHeadingDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sectionHeaderText{
    color: orange;
    font-size: 25px;
    font-weight: bold;
}
.sectionLeftImage{
    width: 30px;
    height: 30px;
    padding-right: 5px;
}
article{
    padding-left: 35px;
}
.footerText{
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    color: #F875AA;
    font-size: 18px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color: #F875AA;
    font-size: 22px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color: #F875AA;
    margin-right: 10%;
    font-size: 22px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sectionInnerDiv{
    display: flex;
    line-height: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subEngText{
    font-size: 22px;
}
.footerImage{
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
}
.footerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}